.retro-archives {
  .retro-heading {
    width: 100%;

    .back-button {
      padding-left: 0;
    }
    .menu {
      padding-right: 0;
    }
    .archives-title {
      padding-top: 0.5em;
    }
  }

  .archives {
    background-color: #f2eee2;
    padding-top: 1em;
    .row {
      width: 100%;
    }

    flex: 1;
    display: flex;
    flex-direction: column;

    .archive-row {
      padding: 0.3em;
    }

    .archive-link {
      background-color: $white;
      padding: 0.6em;
      cursor: pointer;
    }
  }
  .retro-menu {
    padding: 16px 16px 0 0;
    float: right;
  }
}