.retro-settings-page {

  .full-height {
    background-color: #f1f1f1;
  }

  .retro-heading {
    width: 100%;

    .back-button {
      padding-left: 0;
    }
    .menu {
      padding-right: 0;
    }
    .archives-title {
      padding-top: 0.5em;
    }
  }

  .retro-menu {
    padding: 16px 16px 0 0;
    float: right;
  }
}