---
applications:
- name: ((api-app-name))
  instances: 2
  buildpack: https://github.com/cloudfoundry/ruby-buildpack
  memory: 256M
  command: bundle exec rake db:migrate && bundle exec rails s -p $PORT -e $RAILS_ENV
  services:
    - postfacto-db
    - postfacto-redis
  env:
    CLIENT_ORIGIN: https://((web-app-name)).cfapps.io
    WEBSOCKET_PORT: 4443
    SECRET_KEY_BASE: ((secret-key-base))
    SESSION_TIME: ((session-time))
